*{
    padding: 0;
    padding: 0;
}

h1 {
    text-align: center;
    /*midtstiller teksten */
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /*elementene fordeler seg jevnt over siden*/

}


.flexbox>div {
    display: flex;
    flex-wrap: wrap;
    min-width: 25%;
    /*bredde på alle divtaggene innenfor flexbox*/
    min-height: 250px;
    /*høyde på alle divtaggene innenfor flexbox*/
    margin: 30px;
    /*ramme utenpå visittkortet*/
    padding: 20px;
    /*"plass" mellom innhold og kant*/
}

img {
    height: 150px;
    width: 150px;
    /*høyden og bredden til bildet*/
    padding-top: 45px;
}


.text-position {
    padding-left: 5%;
}


#sandra {
    background-color: #cda6f7;
    /*bakgrunnsfarge for spesifikk id*/
}

#emilie {
    background-color: lightskyblue;
}

#henrik {
    background-color: mediumpurple;
}

#sander {
    background-color: coral;
    /*bakgrunnsfarge for spesifikk id*/
}


#clifford {
    background-color: hotpink;
    /*bakgrunnsfarge for spesifikk id*/
}

#sarah {
    background-color: palegreen;
}